'comment': 'ComputerCraft Lua Syntax: version 0.1'
'fileTypes': [
  'lua'
  'cclua'
]
'firstLineMatch': '\\A#!.*?\\bcclua\\b'
'name': 'ComputerCraft (Lua)'
'patterns': [
  {
    'captures':
      '1':
        'name': 'keyword.control.lua'
      '2':
        'name': 'entity.name.function.scope.lua'
      '3':
        'name': 'entity.name.function.lua'
      '4':
        'name': 'punctuation.definition.parameters.begin.lua'
      '5':
        'name': 'variable.parameter.function.lua'
      '6':
        'name': 'punctuation.definition.parameters.end.lua'
    'match': '\\b(function)(?:\\s+([a-zA-Z_.:]+[.:])?([a-zA-Z_]\\w*)\\s*)?(\\()([^)]*)(\\))'
    'name': 'meta.function.lua'
  }
  {
    'match': '(?<![\\d.])\\s0x[a-fA-F\\d]+|\\b\\d+(\\.\\d+)?([eE]-?\\d+)?|\\.\\d+([eE]-?\\d+)?'
    'name': 'constant.numeric.lua'
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.lua'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.lua'
    'name': 'string.quoted.single.lua'
    'patterns': [
      {
        'include': 'punctuation.definition.string.begin.lua'
      }
      {
        'include': 'punctuation.definition.string.end.lua'
      }
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.lua'
      }
    ]
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.lua'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.lua'
    'name': 'string.quoted.double.lua'
    'patterns': [
      {
        'include': 'punctuation.definition.string.begin.lua'
      }
      {
        'include': 'punctuation.definition.string.end.lua'
      }
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.lua'
      }
    ]
  }
  {
    'begin': '(?<=\\.cdef)\\s*(\\[(=*)\\[)'
    'beginCaptures':
      '0':
        'name': 'string.quoted.other.multiline.lua'
      '1':
        'name': 'punctuation.definition.string.begin.lua'
    'contentName': 'meta.embedded.lua'
    'end': '(\\]\\2\\])'
    'endCaptures':
      '0':
        'name': 'string.quoted.other.multiline.lua'
      '1':
        'name': 'punctuation.definition.string.end.lua'
    'patterns': [
      {
        'include': 'source.c'
      }
    ]
  }
  {
    'begin': '(?<!--)\\[(=*)\\['
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.lua'
    'end': '\\]\\1\\]'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.lua'
    'name': 'string.quoted.other.multiline.lua'
  }
  {
    'begin': '--\\[(=*)\\['
    'captures':
      '0':
        'name': 'punctuation.definition.comment.lua'
    'end': '\\]\\1\\]'
    'name': 'comment.block.lua'
  }
  {
    'begin': '(^[ \\t]+)?(?=--(?!\\[(=*)\\[))'
    'beginCaptures':
      '1':
        'name': 'punctuation.whitespace.comment.leading.lua'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '--'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.lua'
        'end': '\\n'
        'name': 'comment.line.double-dash.lua'
      }
    ]
  }
  {
    'match': '\\b(and|or|not|break|do|else|for|if|elseif|return|then|repeat|while|until|end|function|local|in)\\b'
    'name': 'keyword.control.lua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(false|nil|true|_G|_VERSION|math\\.(pi|huge))\\b|(?<![.])\\.{3}(?!\\.)'
    'name': 'constant.language.lua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(self)\\b'
    'name': 'variable.language.self.lua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(assert|collectgarbage|dofile|error|getfenv|getmetatable|ipairs|loadfile|loadstring|module|next|pairs|pcall|print|rawequal|rawget|rawset|require|select|setfenv|setmetatable|tonumber|tostring|type|unpack|xpcall)\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.lua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(coroutine\\.(create|resume|running|status|wrap|yield)|string\\.(byte|char|dump|find|format|gmatch|gsub|len|lower|match|rep|reverse|sub|upper)|table\\.(concat|insert|maxn|remove|sort)|math\\.(abs|acos|asin|atan2?|ceil|cosh?|deg|exp|floor|fmod|frexp|ldexp|log|log10|max|min|modf|pow|rad|random|randomseed|sinh?|sqrt|tanh?)|io\\.(close|flush|input|lines|open|output|popen|read|tmpfile|type|write)|os\\.(clock|date|difftime|execute|exit|getenv|remove|rename|setlocale|time|tmpname)|package\\.(cpath|loaded|loadlib|path|preload|seeall)|debug\\.(debug|[gs]etfenv|[gs]ethook|getinfo|[gs]etlocal|[gs]etmetatable|getregistry|[gs]etupvalue|traceback))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.library.lua'
  }
  {
    'match': '\\b([A-Za-z_]\\w*)\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.any-method.lua'
  }
  {
    'match': '(?<=[^.]\\.|:)\\b([A-Za-z_]\\w*)'
    'name': 'variable.other.lua'
  }
  {
    'match': '\\+|-|%|#|\\*|\\/|\\^|==?|~=|<=?|>=?|(?<!\\.)\\.{2}(?!\\.)'
    'name': 'keyword.operator.lua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(bit\\.(blshift|brshift|blogic_rshift|bxor|bor|band|bnot))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.bit.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(colors\\.(combine|subtract|test))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.colors.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(commands\\.(exec|execAsync|list|getBlockPosition|getBlockInfo))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.commands.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(disk\\.(isPresent|hasData|getMountPath|[gs]etLabel|getID|hasAudio|getAudioTitle|playAudio|stopAudio|eject))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.disk.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(fs\\.(list|exists|isDir|isReadOnly|getName|getDrive|getSize|getFreeSpace|makeDir|move|copy|delete|combine|open|find|getDir|complete))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.fs.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(gps\\.(locate))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.gps.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(help\\.(path|setPath|lookup|topics))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.help.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(http\\.(request|get|post))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.http.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(key\\.(.getName))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.keys.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(multishell\\.(getCurrent|getCount|launch|[gs]etFocus|[gs]etTitle))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.multishell.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(os\\.(version|(?:[gs]et)?[cC]omputerID|(?:[gs]et)?[cC]omputerLabel|run|(?:un)?loadAPI|pullEvent(?:Raw)?|queueEvent|clock|startTimer|cancelTimer|time|sleep|sleep|day|setAlarm|cancelAlarm|shutdown|reboot))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.os.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(paintutils\\.(loadImage|drawImage|drawPixel|drawLine|drawBox|drawFilledBox))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.paintutils.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(parallel\\.(waitForAny|waitForAll))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.parallel.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(peripheral\\.(isPresent|getType|getMethods|call|wrap|find|getNames))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.peripheral.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(rednet\\.(open|close|send|broadcast|receive|isOpen|host|lookup|unhost|lookup|run))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.rednet.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(redstone\\.(getSides|getInput|[gs]etOutput|getAnalogInput|[gs]etAnalogOutput|getBundledInput|[gs]etBundledOutput|testBundledInput))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.redstone.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(shell\\.(exit|dir|setDir|path|setPath|resolve|resolveProgram|aliases|setAlias|clearAlias|programs|getRunningProgram|run|openTab|switchTab))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.shell.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(term\\.(write|blit|clear|clearLine|[gs]etCursorPos|setCursorBlink|isColor|getSize|scroll|redirect|current|native|[gs]etTextColor|[gs]etBackgroundColor)|monitor\\.(setTextScale)|window\\.(setVisible|redraw|restoreCursor|getPosition|reposition))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.term.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(textutils\\.(slowWrite|slowPrint|formatTime|tabulate|pagedTabulate|pagedPrint|serialize|unserialize|serializeJSON|urlEncode|complete))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.textutils.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(turtle\\.(craft|forward|back|up|down|turnLeft|turnRight|select|getSelectedSlot|getItemCount|getItemSpace|getItemDetail|equipLeft|equipRight|attack|attackUp|attackDown|dig|digUp|digDown|place|placeUp|placeDown|detect|detectUp|detectDown|inspect|inspectUp|inspectDown|compare|compareUp|compareDown|compareTo|drop|dropUp|dropDown|suck|suckUp|suckDown|refuel|getFuelLevel|getFuelLimit|transferTo))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.turtle.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(vector\\.(new)|:add|:sub|:mul|:dot|:cross|:length|:normalize|:round|:tostring)\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.vector.cclua'
  }
  {
    'match': '(?<![^.]\\.|:)\\b(window\\.(create))\\b(?=\\s*(?:[({"\']|\\[\\[))'
    'name': 'support.function.api.window.cclua'
  }
]
'scopeName': 'source.cclua'
